{% extends 'band/base.html' %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<form method="POST">{% csrf_token %}
				<input type="text" name="album-input" id="album-search" class="search-top" placeholder="Search for an album">
				<input type="submit" name="search-album" class="submit-top">
			</form>
		</div>
		<div class="col-md-offset-4 col-md-2">
			{% if user.is_authenticated %}
			<a href="{%url 'band:add_album' %}" class="band-url">Add Album</a>
			{% endif %}
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		{% for album in albums %}
		<div class="col-md-4 album-border">
			<a href="{% url 'band:album_detail' album.band.id album.id %}">
				<div class="caption">
					<h4>{{ album.title }} - {{ album.band }}</h4>
				</div>
				<div class="thumbnail">
					<img src="{{album.image_link}}" alt="{{album}}" class="band-image">
				</div>
			</a>
			<div class="edit-delete">
				{% if user.is_authenticated %}
				<a href="{% url 'band:edit_album' album.id %}"><h4 class="padding-right"">Edit Album</h4></a>
				<a href="{%url 'band:delete_album' album.id %}"><h4 class="padding-right"">Delete Album</h4></a>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}