{% extends 'band/base.html' %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<form method="POST">{% csrf_token %}
				<input type="text" name="song-input" id="song-search" class="search-top" placeholder="Search for a song">
				<input type="submit" name="search-song" class="submit-top">
			</form>
		</div>
		<div class="col-md-offset-4 col-md-2">
			{% if user.is_authenticated %}
			<a href="{%url 'band:add_song' %}" class="band-url">Add Song</a>
			{% endif %}
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		{% for song in songs %}
		<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="caption">
					<h4>{{ song.title }} - {{ song.band }}</h4>
				</div>
			<div class="edit-delete">
				{% if user.is_authenticated %}
				<a href="{% url 'band:edit_song' song.id %}" role="button" class="btn btn-primary btn-lg active" aria-disabled="true">Edit Song</a>
				<a href="{%url 'band:delete_song' song.id %}" role="button" class="btn btn-primary btn-lg btn-danger active" aria-disabled="true">Delete Song</a>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
